.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: calc(100% - 2rem);
  padding: 4rem 2rem 2rem 2rem;
  background-color: var(--keyboard-color);
  border-radius: 20px;
}

.keys {
  display: flex;
  background-color: black;
  margin: 2rem 0 0 0;
  padding: 2px;
  border-radius: var(--keys-border-radius);
}
