.key {
  position: relative;
  border: 1px solid black;
  width: var(--key-width);
  height: var(--key-height);
  background-color: white;
  cursor: pointer;
  border-radius: var(--keys-border-radius);
}
.key:hover {
  background-color: lightgray;
}

.black-key {
  width: 0;
  margin: 0;
  z-index: 2;
}

.black-key:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(-0.25 * var(--key-width));
  background-color: black;
  color: gray;
  width: calc(.5 * var(--key-width));
  height: calc(.618 * var(--key-height));
  border-radius: var(--keys-border-radius);
}

